/*navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  }
  #navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  /* Page content */
  .content {
    padding: 16px;
  }
  
a.active{
    background-color:white;
    color: black;
 }

a:hover:not(.active){
    background-color: blue;
    color: rgb(255, 255, 255);
}

a{
    font-family: impact;
    color: white;
}
body{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    overflow-x: initial;
    position: fixed;
    top: 0px;
}


/*Bio and Contact Page*/
.card {
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
.resume h1{
    text-align: center;
}
.resume h2{
    text-align: center;
}
.resume p{
    text-indent: none;
}
#titlep{
    text-align: center;
}
#no_indent{
    text-indent: 0%;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: white;
}

.title1 {
  color: grey;
  font-size: 18px;
}
.video {
  align-self: center;
  align-content: center;
}
.video img {
  align-self: center;
  align-content: center;
  width:100%;
}
#im {
  visibility: hidden;
  width: 30%;
  height: 60%;

}
footer {
  padding-top: 300px;
  position:bottom;
}
.resume p{
  text-align: center;
}


table{
  width: 15%;
  align-items: center;
  align-self: center;
  align-content: center;
  margin-left: 80%;
}
td{
  width: 7.5%;
  background-color: black;
  align-content: center;
}